@charset "UTF-8";
html, body{

    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100%;
    position: absolute;

}
/*Css do link oculto de navagação*/
.SkipNav {
 color: #FFFFFF; 
 text-decoration: none;
 }

 .SkipNav:active, .SkipNav:focus {
 
 color: #0000FF; 
 text-decoration: underline;
 }

article{
    height: 400px;
    border-radius: 8px;
}

.TextoPrincipal{
    margin-top: 50px;
}

.TextoPrincipal2{
    margin-top: 50px;
}

.CachorroConteudoPrincipal{
    margin-top: 30px;
    float: left;
}

footer{
    height: 100px;
    border: 1px solid gray;
    border-radius: 5px;
}


.SkipNav{

    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;

}

.img-icon{

    max-height: 40px;
    margin-top: -10px;
    margin-left: -5px;
}

.menuArticle{
    margin-top: 20px;
    height: 200px;
}

.menuArticle ul li{
    border:1px solid #000;
    border-bottom: 1px solid #000;
}

.menuArticle ul{
    list-style-type:none;
    width: 100%;
}

.articleCachorro{
    height: 250px;   
}

.sectionHome{
    height: 100px;
    background-color: #fff;
    margin-top: 10px;
}

.asideSec{
    background-color: #ccc;
    height: 120px;
    margin-top: -100px;
}



